<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background: {{{color}}}">

<!--{{todo}}-->

<!--{{#if show}}-->
     <!--<div>-->
         <!--<h1>Hello World</h1>-->
     <!--</div>-->
    <!---->
    <!--{{/if}}-->

<ul>
    {{#each items}}
    <li>
        {{this}}
    </li>
        {{/each}}
</ul>

</body>
</html>