@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
	font-family: Raleway ;
}
img{
	max-width : 100% ;
	max-height : 100% ;
	margin : 0 auto ; /*margin of top and bottom is 0 right and left is equal*/
}
.image-container > img{
	display : block ;
	margin : 0 auto ;
}
.image-container{
    height : 50% ;
}
.complete-description{
	height : 100% ;
}

.description{
	height : 50% ;
	width : 214.28px;
	font-size : 0px ; /*a small hack to avoid shifting of block elements , whose property is set to inline-block due to new line character */
	                  /* it will make font-size of new-line character 0 */
	margin : 0 auto ;
}

.description > div{
	display : inline-block ; /* as we have to align them side by side set , along with that we want to set both height and width property
	                          which can be setted for block elements only , and remember to override the font-size property in child
	                           elements */
	height : 100% ;
	width : 50% ;
	font-size:15px ;
}

.animal, .animal-desc{
	text-align : center ;
}

.card{
	width: 33.33% ;
	height : 400px ;
	background: #ff9988 ;
	-webkit-box-shadow: 10px 10px 14px -4px rgba(208,205,209,1);
-moz-box-shadow: 10px 10px 14px -4px rgba(208,205,209,1);
box-shadow: 10px 10px 14px -4px rgba(208,205,209,1);
    margin : 50px auto ;
    cursor : pointer ;
    transition : .8s;
}
.card:hover{
	-webkit-box-shadow: 10px 10px 14px -8px rgba(227,209,230,1);
-moz-box-shadow: 10px 10px 14px -8px rgba(227,209,230,1);
box-shadow: 10px 10px 14px -8px rgba(227,209,230,1);
transition : .8s;

}